#loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #fff;
  z-index: 1000;
}

section.hero {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero .hero-container {
  position: relative;
}

section.hero .hero-container .hero-heading {
  position: absolute;
  z-index: 1;
  left: 8%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 40px;
}

section.hero .hero-container .hero-heading h1 {
  font-size: 72px;
  background: -webkit-gradient(linear, left top, right top, from(#A0D4D3), to(#1D1E3B));
  background: linear-gradient(to right, #A0D4D3, #1D1E3B);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

section.hero .hero-container .hero-heading p {
  font-size: 24px;
  margin: 5px 0px 10px;
  color: #333;
}

section.hero .hero-container .hero-heading #quote {
  font-size: 24px;
  font-style: italic;
  font-weight: bolder;
  color: #1D1E3B;
}

section.hero .hero-container .hero-img {
  position: relative;
}

section.hero .hero-container .hero-img .hero-img-container {
  width: 100%;
}

section.hero .hero-container .hero-img .hero-img-container .hero-img-slide {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75vh;
}

section.hero .hero-container .hero-img .hero-img-container .hero-img-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.hero .hero-container .hero-img .hero-img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.15;
}

section.contents {
  position: relative;
}

section.contents .contents-container {
  padding: 100px 0px 75px;
  margin: 0px auto;
  width: 85%;
}

section.contents .contents-container [class^="contents"] {
  width: 80%;
}

section.contents .contents-container .contents-heading h2 {
  font-size: 40px;
  letter-spacing: 1px;
  color: #A0D4D3;
}

section.contents .contents-container .contents-category {
  margin: 50px 0 0;
}

section.contents .contents-container .contents-category ul.category-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
}

section.contents .contents-container .contents-category ul.category-list li {
  width: 100%;
  border-radius: 25px;
  padding: 25px 35px;
  -webkit-box-shadow: 2px 2px 5px #dcdcdc;
          box-shadow: 2px 2px 5px #dcdcdc;
  position: relative;
  overflow: hidden;
  background: #fff;
}

section.contents .contents-container .contents-category ul.category-list li .category-list-img {
  width: 30%;
  position: absolute;
  bottom: -70px;
  right: 0;
  z-index: 0;
  opacity: 0.4;
}

section.contents .contents-container .contents-category ul.category-list li .category-list-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.contents .contents-container .contents-category ul.category-list li h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #1D1E3B;
}

section.contents .contents-container .contents-category ul.category-list li p {
  font-size: 16px;
}

section.contents .contents-container .contents-category ul.category-list a {
  height: 100%;
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section.contents .contents-container .contents-category ul.category-list a .last-list-item {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
}

section.contents .contents-container .contents-category ul.category-list a .last-list-item .last-h3 {
  margin-top: 10px;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  position: relative;
  z-index: 2;
}

section.contents .contents-container .contents-category ul.category-list a .last-list-item ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  color: #8f8f8f;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

section.contents .contents-container .contents-category ul.category-list a li::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#A0D4D3), to(#1D1E3B));
  background: linear-gradient(to right, #A0D4D3, #1D1E3B);
  -webkit-transition: .45s;
  transition: .45s;
  border-radius: 25px;
}

section.contents .contents-container .contents-category ul.category-list a:hover li {
  width: 100%;
}

section.contents .contents-container .contents-category ul.category-list a:hover li h3 {
  display: block;
}

section.contents .contents-container .contents-category ul.category-list a:hover li::after {
  left: 0;
  z-index: 0;
}

section.contents .contents-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 275px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#A0D4D3), to(#1D1E3B));
  background: linear-gradient(to bottom right, #A0D4D3, #1D1E3B);
}
/*# sourceMappingURL=styles.css.map */