section.intro {
  margin: 75px auto;
  width: 85%;
}

section.intro .intro-heading {
  font-size: 50px;
  margin-bottom: 5px;
  color: #A0D4D3;
}

section.intro p {
  font-size: 20px;
  color: #333;
}

section.cloud-services {
  margin: 0 auto 75px;
  width: 80%;
}

section.cloud-services .cloud-service-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(550px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-gap: 25px;
}

section.cloud-services .cloud-service-links .cloud-service-links-container {
  border-radius: 40px 0px 0px 0px;
  height: 100%;
  width: 100%;
}

section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content {
  margin: 15px 0px 0px 15px;
  -webkit-box-shadow: 2px 5px 8px #ccc;
          box-shadow: 2px 5px 8px #ccc;
  padding: 35px;
  height: 100%;
  border-radius: 30px;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  overflow: hidden;
}

section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content h2 {
  color: #1D1E3B;
  text-shadow: 2px 2px 3px #f3f3f3;
  margin-bottom: 8px;
  font-size: 28px;
}

section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content p {
  color: #333;
}

section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content ul {
  list-style-type: square;
  margin-top: 1.5em;
  padding-left: 40px;
  width: 95%;
}

section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content ul li {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  color: #1D1E3B;
  width: 90%;
}

section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content .cloud-package-img {
  position: absolute;
  bottom: -25px;
  right: -20px;
  width: 25%;
  opacity: 0.85;
  z-index: -1;
}

section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content .cloud-package-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content:hover {
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
}

section.cta {
  margin: 100px auto;
  width: 60%;
  padding: 50px 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section.cta .cta-btn h3 {
  font-size: 30px;
  color: #333;
  font-weight: 100;
}

section.cta .cta-btn p {
  margin: 5px 0px 20px;
  font-size: 18px;
  color: #333;
}

section.cta .cta-btn a {
  color: #333;
  border: 1px solid #333;
  padding: 15px;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

section.cta .cta-btn a:hover {
  background: #333;
  color: #fff;
  padding: 15px 30px;
}

@media screen and (max-width: 480px) {
  section.intro {
    margin-bottom: 25px;
  }
  section.intro .intro-heading {
    font-size: 30px;
  }
  section.intro p {
    font-size: 16px;
  }
  section.cloud-services {
    margin: 0 auto 25px;
    width: 85%;
  }
  section.cloud-services .cloud-service-links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 10px;
  }
  section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content {
    margin-left: 0px;
    padding: 25px;
  }
  section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content h2 {
    margin-bottom: 7px;
    font-size: 24px;
  }
  section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content p {
    color: #333;
    font-size: 14px;
  }
  section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content ul {
    width: 100%;
    padding-left: 20px;
  }
  section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content ul li {
    font-size: 14px;
    line-height: 1.5;
  }
  section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content ul li:last-child {
    width: 70%;
  }
  section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content .cloud-package-img {
    bottom: 15px;
    right: 15px;
  }
  section.cloud-services .cloud-service-links .cloud-service-links-container .cloud-service-link-content:hover {
    -webkit-transform: none;
            transform: none;
  }
  section.cta {
    width: 80%;
    padding: 50px 25px;
  }
  section.cta .cta-btn h3 {
    font-size: 26px;
  }
  section.cta .cta-btn p {
    font-size: 16px;
  }
  section.cta .cta-btn a {
    padding: 10px 15px;
  }
}
/*# sourceMappingURL=styles.css.map */