#main-portfolio-content {
    background-image: url('../../../images/helipad.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .portfolio-title {
        padding-top: 75px;
        margin: 0px auto 25px;
        width: 85%;
        position: relative;
    
        .portfolio-title-text {
    
            h2 {
                color: #fff;
                text-transform: uppercase;
                font-size: 44px;
                width: fit-content;
            }
        }
    }
    
    main {
        margin: 0px auto 50px;
        width: 85%;
        height: fit-content;
        min-height: 500px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        padding-bottom: 50px;
    
        .company-names {
            flex-basis: 15%;
            height: fit-content;
    
            aside {
                padding: 15px;
                background: #fafafa;
                position: relative;
    
                #company-selection {
                    padding: 15px;
                    font-size: 16px;
                    text-transform: uppercase;
                    width: 100%;
                    appearance: none;
                    color: #1D1E3B;
                    outline: 0;
                    text-overflow: ellipsis;
                    cursor: pointer;
                    background: #fdfdfd;
                }

            }

            aside::after {
                content: '>';
                font-family: "Consolas", monospace;
                font-size: 30px;
                color: #1D1E3B;
                transform: rotate(90deg) translateX(-110%);
                right: 15%;
                top: 50%;
                position: absolute;
                pointer-events: none;
            }
        }
    
        .portfolio-projects {
            flex-basis: 83%;
    
            .portfolio-projects-list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
                grid-gap: 20px;
                
                .option-item {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
    
                    .portfolio-projects-list-items {
                        padding: 30px;
                        border-radius: 10px;
                        height: 100%;
                        transition: .3s;
                        background: #fff;
    
                        .company-name {
                            text-transform: uppercase;
                            font-size: 40px;
                            color: #A0D4D3;
                        }
    
                        .company-campaign {
                            color: #1D1E3B;
                            margin: 10px 0px 5px;
                        }
    
                        .company-brief {
                            color: #1D1E3B;
                        }

                        .company-project-cta {
                            margin: 15px 0px 0px;
                            width: fit-content;

                            a {
                                display: inline-block;
                                text-transform: uppercase;
                                font-size: 18px;
                                border: 1px solid #1D1E3B;
                                color: #1D1E3B;
                                padding: 15px 25px;
                                transition: .4s;
                            }

                            a:hover {
                                background: #1D1E3B;
                                color: #fff;
                            }
                        }
                    }
    
                    .portfolio-projects-list-items:hover {
                        transform: scale(1.035);
                    }
                }
            }
        }
    }
}

.testimonials {
    margin: 150px auto;
    width: 70%;

    h2 {
        color: #1D1E3B;
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-left: 15px;
    }

    .test-container {
        padding: 50px;
        box-shadow: 1px 1px 5px #dcdcdc;
        border-radius: 10px;

        h3 {
            color: #A0D4D3;
            font-size: 24px;
        }

        .testimonials-description {
            font-size: 20px;
            margin: 20px 0px 40px;
        }

        .test-img {
            width: 30%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #main-portfolio-content {
    
        .portfolio-title {
        
            .portfolio-title-text {
        
                h2 {
                    font-size: 30px;
                }
            }
        }
        
        main {
            width: 85%;
            flex-direction: column;
            min-height: auto;
        
            .company-names {
                flex-basis: 100%;
                width: 100%;
                height: fit-content;
        
                aside.company-sel {
                    padding: 10px;
                    background: #fefefe;
                    border-radius: 10px;
        
                    #company-selection {
                        font-size: 14px;
                        border-radius: inherit;
                    }
                }

                aside::after {
                    right: 10%;
                }
            }
        
            .portfolio-projects {
                flex-basis: 50%;
                margin-top: 20px;
        
                .portfolio-projects-list {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    
                    .option-item {
        
                        .portfolio-projects-list-items {
                            padding: 20px;
        
                            .company-name {
                                font-size: 26px;
                            }

                            .company-campaign, .company-brief {
                                font-size: 14px;
                            }
    
                            .company-project-cta {
    
                                a {
                                    font-size: 14px;
                                    padding: 10px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .testimonials {
        margin: 75px auto;
        width: 85%;
    
        h2 {
            font-size: 30px;
            margin-bottom: 10px;
            margin-left: 0;
        }
    
        .test-container {
            padding: 25px;
    
            h3 {
                font-size: 20px;
            }
    
            .testimonials-description {
                font-size: 16px;
            }

            .test-img {
                width: 100%;
            }
        }
    }
}