#main-portfolio-content {
  background-image: url("../../../images/helipad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#main-portfolio-content .portfolio-title {
  padding-top: 75px;
  margin: 0px auto 25px;
  width: 85%;
  position: relative;
}

#main-portfolio-content .portfolio-title .portfolio-title-text h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 44px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#main-portfolio-content main {
  margin: 0px auto 50px;
  width: 85%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-bottom: 50px;
}

#main-portfolio-content main .company-names {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#main-portfolio-content main .company-names aside {
  padding: 15px;
  background: #fafafa;
  position: relative;
}

#main-portfolio-content main .company-names aside #company-selection {
  padding: 15px;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #1D1E3B;
  outline: 0;
  text-overflow: ellipsis;
  cursor: pointer;
  background: #fdfdfd;
}

#main-portfolio-content main .company-names aside::after {
  content: '>';
  font-family: "Consolas", monospace;
  font-size: 30px;
  color: #1D1E3B;
  -webkit-transform: rotate(90deg) translateX(-110%);
          transform: rotate(90deg) translateX(-110%);
  right: 15%;
  top: 50%;
  position: absolute;
  pointer-events: none;
}

#main-portfolio-content main .portfolio-projects {
  -ms-flex-preferred-size: 83%;
      flex-basis: 83%;
}

#main-portfolio-content main .portfolio-projects .portfolio-projects-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
}

#main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item {
  width: 100%;
  height: 100%;
  display: inline-block;
}

#main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items {
  padding: 30px;
  border-radius: 10px;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  background: #fff;
}

#main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items .company-name {
  text-transform: uppercase;
  font-size: 40px;
  color: #A0D4D3;
}

#main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items .company-campaign {
  color: #1D1E3B;
  margin: 10px 0px 5px;
}

#main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items .company-brief {
  color: #1D1E3B;
}

#main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items .company-project-cta {
  margin: 15px 0px 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items .company-project-cta a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid #1D1E3B;
  color: #1D1E3B;
  padding: 15px 25px;
  -webkit-transition: .4s;
  transition: .4s;
}

#main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items .company-project-cta a:hover {
  background: #1D1E3B;
  color: #fff;
}

#main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items:hover {
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
}

.testimonials {
  margin: 150px auto;
  width: 70%;
}

.testimonials h2 {
  color: #1D1E3B;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-left: 15px;
}

.testimonials .test-container {
  padding: 50px;
  -webkit-box-shadow: 1px 1px 5px #dcdcdc;
          box-shadow: 1px 1px 5px #dcdcdc;
  border-radius: 10px;
}

.testimonials .test-container h3 {
  color: #A0D4D3;
  font-size: 24px;
}

.testimonials .test-container .testimonials-description {
  font-size: 20px;
  margin: 20px 0px 40px;
}

.testimonials .test-container .test-img {
  width: 30%;
}

.testimonials .test-container .test-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 480px) {
  #main-portfolio-content .portfolio-title .portfolio-title-text h2 {
    font-size: 30px;
  }
  #main-portfolio-content main {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto;
  }
  #main-portfolio-content main .company-names {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #main-portfolio-content main .company-names aside.company-sel {
    padding: 10px;
    background: #fefefe;
    border-radius: 10px;
  }
  #main-portfolio-content main .company-names aside.company-sel #company-selection {
    font-size: 14px;
    border-radius: inherit;
  }
  #main-portfolio-content main .company-names aside::after {
    right: 10%;
  }
  #main-portfolio-content main .portfolio-projects {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-top: 20px;
  }
  #main-portfolio-content main .portfolio-projects .portfolio-projects-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  #main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items {
    padding: 20px;
  }
  #main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items .company-name {
    font-size: 26px;
  }
  #main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items .company-campaign, #main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items .company-brief {
    font-size: 14px;
  }
  #main-portfolio-content main .portfolio-projects .portfolio-projects-list .option-item .portfolio-projects-list-items .company-project-cta a {
    font-size: 14px;
    padding: 10px 20px;
  }
  .testimonials {
    margin: 75px auto;
    width: 85%;
  }
  .testimonials h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .testimonials .test-container {
    padding: 25px;
  }
  .testimonials .test-container h3 {
    font-size: 20px;
  }
  .testimonials .test-container .testimonials-description {
    font-size: 16px;
  }
  .testimonials .test-container .test-img {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */