section {
    padding: 0px 0px 150px;
    display: flex;
    align-items: center;
}

.cta {

    a {
        display: inline-block;
        padding: 15px 20px;
        font-size: 16px;
        color: #333;
        border: 1px solid #333;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: .4s;
    }

    a:hover {
        background: #97c8c9;
        color: #fff;
        border-color: #97c8c9;
        padding: 15px 30px;
    }
}

section.hero {
    justify-content: space-between;
    height: 100%;

    .hero-text {
        flex-basis: 37%;
        margin-left: 100px;

        h1 {
            font-size: 50px;
            color: #5a7688;
        }

        p {
            color: #333;
            font-size: 18px;
            text-align: justify;
            margin: 10px 0px 20px;
        }
    }

    .hero-img {
        flex-basis: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

section.row-about1 {
    justify-content: space-between;

    .row-about1-text {
        flex-basis: 33%;
        order: 2;
        margin-right: 100px;

        h2 {
            font-size: 38px;
            color: #5a7688;
        }

        p {
            font-size: 18px;
            color: #333;
            text-align: justify;
            margin: 10px 0px 20px;
        }
    }

    .row-about1-img {
        flex-basis: 55%;
        order: 1;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}