section {
    padding: 0px 0px 150px;
    display: flex;
    align-items: center;
}

.cta {

    a {
        display: inline-block;
        padding: 15px 20px;
        font-size: 16px;
        color: #333;
        border: 1px solid #333;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: .4s;
    }

    a:hover {
        background: #1D1E3B;
        color: #fff;
        border-color: #1D1E3B;
        padding: 15px 30px;
    }
}

section.hero {
    justify-content: space-between;
    height: 100%;

    .hero-text {
        flex-basis: 37%;
        margin-left: 100px;

        h1 {
            font-size: 50px;
            color: #A0D4D3;
        }

        p {
            color: #333;
            font-size: 18px;
            text-align: justify;
            margin: 10px 0px 20px;
        }
    }

    .hero-img {
        flex-basis: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

section.row-about1 {
    justify-content: space-between;

    .row-about1-text {
        flex-basis: 37%;
        order: 2;
        margin-right: 100px;

        h2 {
            font-size: 50px;
            color: #A0D4D3;
        }

        p {
            font-size: 18px;
            color: #333;
            text-align: justify;
            margin: 10px 0px 20px;
        }
    }

    .row-about1-img {
        flex-basis: 50%;
        order: 1;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 480px) {
    section {
        flex-direction: column;
    }

    .cta {

        a {
            font-size: 14px;
        }
    
        a:hover {
            padding: 15px 20px;
        }
    }

    section.hero {
        justify-content: space-between;
        height: 100%;
        margin-top: 50px;
    
        .hero-text {
            flex-basis: 50%;
            margin-left: 0;
            padding: 25px;
    
            h1 {
                font-size: 30px;
            }
    
            p {
                font-size: 14px;
            }
        }
    }

    section.row-about1 {
    
        .row-about1-text {
            flex-basis: 50%;
            order: 1;
            margin-right: 0;
            padding: 25px;
    
            h2 {
                font-size: 30px;
            }
    
            p {
                font-size: 14px;
                text-align: left;
            }
        }
    
        .row-about1-img {
            order: 2;
        }
    }
}
